/* Demo only */
.container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    max-width: 800px;
    margin: 100px auto;
  }
  
  .example {
    font-size: 86px;
    text-align: center;
  }
  
  .inline {
    display: inline-block;
  }
  /* End demo styles */
  
  .number-ticker {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    width: max-content;
    margin: auto;
  
    --duration: 0.5s;
    --easing: ease-in-out;
  }
  
  .number-ticker .number {
    line-height: 1;
  }
  
  .number-ticker .item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .col {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .number-ticker .inc {
    top: 100%;
    transform: translateY(-100%);
    animation: increase var(--duration) var(--easing) forwards;
    flex-direction: column-reverse;
  }
  
  @keyframes increase {
    100% {
      transform: translateY(0%);
      top: 0;
    }
  }
  
  .number-ticker .dec {
    bottom: 0;
    transform: translateY(0%);
    animation: decrease var(--duration) var(--easing) forwards;
    flex-direction: column;
  }
  
  @keyframes decrease {
    100% {
      top: 100%;
      transform: translateY(-100%);
    }
  }
  
  @media (prefers-reduced-motion) {
    .number-ticker .inc,
    .number-ticker .dec {
      animation: none;
    }
  }
  
